* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1140px !important;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar,
.slider-section {
  background: #F5F7FA;
}

.nav-container {
  padding-top: 22px;
  padding-bottom: 22px;
}

.ul {
  gap: 50px;
}

.button {
  gap: 14px;
}

.mybtn {
  cursor: pointer;
  border-radius: 4px;
  background-color: #4CAF4F;
  color: #FFFFFF;
  border: none;
}

.mybtn:hover {
  transform: translateY(-8px);
  transition: 0.3s all;
  background-color: #388E3B;
}

.login {
  border: none;
  color: #4CAF4F;
  background-color: #F5F7FA;
  width: 77px;
  height: 40px;
}

.signup {
  width: 91px;
  height: 40px;
}

.register {
  width: 128px;
  height: 52px;
}

.slider-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.slider {
  display: flex;
  align-items: center;
}

.left h1 {
  font-size: 64px;
  line-height: 76px;
  color: #4D4D4D;
}
.left span {
  color: #4CAF4F;
}
.left p {
  line-height: 24px;
  color: #717171;
}

.slick-dots {
  position: static !important;
}

.slick-dots li button:before {
  color: #4CAF4F !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #4CAF4F !important;
}

.client {
  padding-top: 40px;
  padding-bottom: 40px;
}

.client-text {
  padding-bottom: 16px;
}
.client-text h2 {
  color: #4D4D4D;
  font-weight: 600;
  font-size: 36px;
}
.client-text p {
  color: #717171;
}

.community-text {
  padding-bottom: 16px;
}
.community-text h2 {
  width: 542px;
  height: 88px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4D4D4D;
}
.community-text p {
  color: #717171;
}

.card-body h3 {
  width: 231px;
  height: 72px;
  font-weight: 700;
  font-size: 28px;
}
.card-body p {
  width: 251px;
  height: 60px;
}

.cards {
  box-shadow: rgba(171, 190, 209, 0.2) 0px 2px 4px 0px;
  padding: 24px 32px;
  height: 260px;
}

.unlock {
  padding-bottom: 48px;
}

.unlock-text {
  width: 661px;
  height: 268px;
  padding-right: 60px;
}
.unlock-text h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4D4D4D;
}
.unlock-text p {
  font-size: 14px;
  font-weight: 400;
  height: 80px;
  color: #717171;
}

.learn {
  width: 151px;
  height: 52px;
  margin-top: 32px;
}

.Achievements {
  background-color: #F5F7FA;
  padding-top: 64px;
  padding-bottom: 64px;
}

.Achievements-text h2 {
  width: 408px;
  height: 88px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}
.Achievements-text span {
  color: #4CAF4F;
}

.count-container {
  width: 540px;
  height: 160px;
}

.count-container1 {
  padding-bottom: 40px;
  gap: 30px;
}

.count-container2 {
  gap: 30px;
}

.count-items {
  display: flex;
  align-items: center;
  gap: 16px;
}

.count-text {
  width: 191px;
  height: 60px;
}
.count-text h3 {
  font-weight: 700;
  font-size: 28px;
}

.design {
  padding-top: 48px;
  padding-bottom: 48px;
}

.design-text {
  width: 601px;
}
.design-text h2 {
  font-weight: 600;
  font-size: 36px;
}
.design-text p {
  font-weight: 400;
  font-size: 14px;
}

.Customers {
  background-color: #F5F7FA;
  padding-top: 33px;
  padding-bottom: 33px;
}

.customer-text {
  width: 748px;
  padding-bottom: 31px;
}
.customer-text p {
  font-weight: 500;
  font-size: 16px;
  color: #717171;
}
.customer-text h4 {
  font-weight: 600;
  font-size: 20px;
  color: #4CAF4F;
}
.customer-text span {
  font-weight: 400;
  font-size: 16px;
}

.customer-logo {
  display: flex;
  gap: 40px;
}

.customer-link a {
  text-decoration: none;
  color: #4CAF4F;
  font-weight: 600;
  font-size: 20px;
}

.update {
  padding-top: 48px;
  padding-bottom: 94px;
}

.update-text h2 {
  font-weight: 600;
  font-size: 36px;
  color: #4D4D4D;
}
.update-text p {
  width: 628px;
}

.update-cards-text {
  width: 317px;
  height: 176px;
  border-radius: 8px;
  padding: 16px;
  background-color: #F5F7FA;
  position: relative;
  margin-top: -90px;
  box-shadow: rgba(171, 190, 209, 0.4) 0px 8px 16px 0px;
}
.update-cards-text h4 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 24px;
}
.update-cards-text a {
  text-decoration: none;
  color: #4CAF4F;
  font-weight: 600;
  font-size: 20px;
}

.demo {
  background-color: #F5F7FA;
}

.demo-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
.demo-container h2 {
  width: 887px;
  height: 152px;
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
}
.demo-container button {
  width: 178px;
  height: 52px;
}

.footer {
  background-color: #263238;
  color: #FFFFFF;
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer-left h4 {
  font-weight: 400;
  font-size: 14px;
  padding-top: 40px;
}
.footer-left p {
  font-weight: 400;
  font-size: 14px;
  line-height: 0px;
  padding-bottom: 40px;
}

.footer-logo {
  gap: 16px;
}

.footer-right {
  gap: 30px;
}

.footer-col h3 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 24px;
}
.footer-col ul {
  padding-left: 0px;
}
.footer-col li {
  font-weight: 400;
  font-size: 14px;
  list-style: none;
  padding-bottom: 12px;
}
.footer-col a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer-col #email {
  background-color: #263238;
  color: #d9dbe1;
  border-radius: 8px;
  width: 255px;
  height: 40px;
}

@media only screen and (max-width: 600px) {
  .ul {
    gap: 0px;
  }
  .left h1 {
    font-size: 38px;
    line-height: 56px;
  }
  .slider-section {
    padding: 0px;
  }
  .slider {
    flex-direction: column-reverse;
  }
  .client {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .client-logo {
    width: 90%;
    gap: 20px;
  }
  .community {
    padding-bottom: 0px;
  }
  .community-text {
    padding-bottom: 0px;
  }
  .community-text h2 {
    width: 400px;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
  }
  .community-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .cards {
    box-shadow: rgba(171, 190, 209, 0.2) 0px 2px 4px 0px;
    height: 260px;
  }
  .unlock {
    padding-bottom: 60px;
  }
  .unlock-container {
    flex-direction: column;
  }
  .unlock-text {
    text-align: center;
    padding-right: 0px;
    width: 400px;
  }
  .unlock-text h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
  .unlock-text p {
    font-size: 14px;
    font-weight: 400;
  }
  .Achievements {
    background-color: #F5F7FA;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .Achievements-container {
    text-align: center;
    flex-direction: column;
  }
  .count-container {
    text-align: center;
  }
  .count-container1 {
    flex-direction: column;
  }
  .count-container2 {
    flex-direction: column;
  }
  .count-items {
    gap: 0px;
  }
  .design {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .design-container {
    flex-direction: column;
    text-align: center;
  }
  .design-text {
    width: 400px;
  }
  .design-text h2 {
    font-weight: 600;
    font-size: 36px;
  }
  .design-text p {
    font-weight: 400;
    font-size: 14px;
  }
  .design-text .learn {
    margin-top: 0px;
  }
  .Customers-container {
    flex-direction: column;
  }
  .customer-img {
    text-align: center;
  }
  .customer-text {
    width: 350px;
  }
  .customer-text p {
    text-align: center;
  }
  .customer-bottem {
    flex-direction: column;
    gap: 20px;
  }
  .customer-logo {
    flex-wrap: wrap;
  }
  .update {
    padding-top: 18px;
    padding-bottom: 24px;
  }
  .update-text p {
    width: 350px;
  }
  .update-cards-container {
    flex-direction: column;
    gap: 20px;
  }
  .demo-container {
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
  }
  .demo-container h2 {
    width: 400px;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-right {
    padding-top: 20px;
    flex-direction: column;
    gap: 10px;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    transition: 0.5s all;
    padding-top: 80px;
    z-index: 100;
  }
  .navbar-collapse.show {
    right: 0;
  }
  .navbar-toggler {
    z-index: 999;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .container {
    max-width: 601px;
  }
  .ul {
    gap: 0px;
  }
  .left h1 {
    font-size: 48px;
    line-height: 56px;
  }
  .slider-section {
    padding: 0px;
  }
  .slider {
    flex-direction: column-reverse;
  }
  .client {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .client-logo {
    gap: 0px;
  }
  .community {
    padding-bottom: 0px;
  }
  .community-text {
    padding-bottom: 0px;
  }
  .community-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .cards {
    box-shadow: rgba(171, 190, 209, 0.2) 0px 2px 4px 0px;
    height: 260px;
  }
  .unlock {
    padding-bottom: 30px;
  }
  .unlock-container {
    flex-direction: column;
  }
  .unlock-text {
    text-align: center;
    padding-right: 0px;
    width: 500px;
  }
  .unlock-text h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
  .unlock-text p {
    font-size: 14px;
    font-weight: 400;
    height: 80px;
  }
  .Achievements {
    background-color: #F5F7FA;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .Achievements-container {
    text-align: center;
    flex-direction: column;
  }
  .design {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .design-container {
    flex-direction: column;
    text-align: center;
  }
  .design-text {
    width: 500px;
  }
  .design-text h2 {
    font-weight: 600;
    font-size: 36px;
  }
  .design-text p {
    font-weight: 400;
    font-size: 14px;
  }
  .design-text .learn {
    margin-top: 0px;
  }
  .Customers-container {
    flex-direction: column;
  }
  .customer-img {
    text-align: center;
  }
  .customer-text {
    width: 500px;
  }
  .customer-text p {
    text-align: center;
  }
  .customer-bottem {
    flex-direction: column;
    gap: 20px;
  }
  .update {
    padding-top: 18px;
    padding-bottom: 24px;
  }
  .update-text p {
    width: 500px;
  }
  .update-cards-container {
    flex-direction: column;
    gap: 20px;
  }
  .demo-container {
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
  }
  .demo-container h2 {
    width: 540px;
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-right {
    padding-top: 20px;
    flex-direction: column;
    gap: 10px;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    transition: 0.5s all;
    padding-top: 80px;
    z-index: 100;
  }
  .navbar-collapse.show {
    right: 0;
  }
  .navbar-toggler {
    z-index: 999;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .ul {
    gap: 0px;
  }
  .slider-section {
    padding: 0px;
  }
  .slider {
    flex-direction: column-reverse;
  }
  .client {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .client-logo {
    gap: 0px;
  }
  .community {
    padding-bottom: 0px;
  }
  .community-text {
    padding-bottom: 0px;
  }
  .community-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .cards {
    box-shadow: rgba(171, 190, 209, 0.2) 0px 2px 4px 0px;
    height: 260px;
  }
  .unlock {
    padding-bottom: 30px;
  }
  .unlock-container {
    flex-direction: column;
  }
  .unlock-text {
    text-align: center;
  }
  .Achievements {
    background-color: #F5F7FA;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .Achievements-container {
    text-align: center;
    flex-direction: column;
  }
  .design {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .design-container {
    flex-direction: column;
    text-align: center;
  }
  .Customers-container {
    flex-direction: column;
  }
  .customer-img {
    text-align: center;
  }
  .customer-text {
    width: 700px;
  }
  .customer-text p {
    text-align: center;
  }
  .customer-bottem {
    flex-direction: column;
    gap: 20px;
  }
  .update {
    padding-top: 18px;
    padding-bottom: 24px;
  }
  .update-cards-container {
    flex-direction: column;
    gap: 20px;
  }
  .demo-container {
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
  }
  .demo-container h2 {
    width: 540px;
    font-weight: 600;
    font-size: 36px;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-right {
    padding-top: 20px;
    flex-direction: column;
    gap: 10px;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    transition: 0.5s all;
    padding-top: 80px;
    z-index: 100;
  }
  .navbar-collapse.show {
    right: 0;
  }
  .navbar-toggler {
    z-index: 999;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    max-width: 1140px;
  }
}/*# sourceMappingURL=main.css.map */